<div style="float:left">

 <p>
   <%= f.label :title %><br />
   <%= f.text_field :title %>
 </p>

 <p>
   <%= f.label :description %><br />
   <%= f.text_area :description %>
 </p>

 <p>
   <%= f.label :embed_html %><br />
   <%= f.text_field :embed_html %>
 </p>
 <p>
   <%= f.label :publication_name %><br />
   <%= f.text_field :publication_name %>
 </p>
 <p>
   <%= f.label :photo %><br />
   <%= f.file_field :photo %>
 </p>


</div>

