<p>
	<%= f.collection_select :parent_id, Client.find_main, :id, :title, :include_blank => true%>
</p>
<p>
	<%= f.collection_select :location_id, Location.find(:all), :id, :title, :include_blank => true%>
</p>
<p>
	  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</p>

<p>
	  <%= f.label :description %><br/>
  <%= f.text_area :description %>
</p>
