<div style="float:left">

 <p>
   <%= f.label :title %><br />
   <%= f.text_field :title %>
 </p>
 <p>
   <%= f.label :address %><br />
   <%= f.text_field :address %>
 </p>

 <p>
   <%= f.label :description %><br />
   <%= f.text_area :description %>
 </p>
 <p>
   <%= f.label :door_price %><br />
   <%= f.text_field :door_price %>
 </p>
</div>

