<tr>
	<td><%= image_tag location.photo.url(:thumb) %></td>
	<td style="padding:0 5px"><%= location.location_type.title %></td>
	<td class="title"><%= location.title %></td>
	<td><%= location.address%></td>
	<td style="width:15px"></td>
	<td><%= location.door_price  %></td>
	<td style="width:15px"></td>
	<td>
		<table class="nolines">
			<tr>
				<td><%= link_to image_tag ('system/admin/buttons/search.jpg', :height => "15px", :title => "show"), admin_location_path(location) %></td><td>&nbsp;|&nbsp;</td>
				<td><%= link_to image_tag ('system/admin/buttons/edit.jpg', :height => "15px", :title => "edit"), edit_admin_location_path(location) %></td><td>&nbsp;|&nbsp;</td>
				<td><%= link_to image_tag ('system/admin/buttons/delete.jpg', :height => "15px", :title => "delete"), admin_location_path(location), :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
		</table>	
	</td>
</tr>
