<%= f.error_messages %>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
 <p>
   <%= f.label :description %><br />
   <%= f.text_area :description %>
 </p>
 <p>
   <%= f.label :keywords %><br />
   <%= f.text_area :keywords %>
 </p>
 <p>
  
   		<%= f.hidden_field :page_id, :value=> @page.id %> 
		
	
 </p>
