<% content_for(:sub_menu) do %>
	<ul>
		<li><%= link_to "Back", admin_event_egalleries_path(@event) %></li>
	</ul>
<% end %>


<div id="content">
	<h1>New Event Gallery</h1>

	<div id="tabs" class="ui-tabs">

		<% form_for :egallery,@egallery,:url=>{:controller=>"admin/egalleries", :action=>"create", :event_id=>@event.id},:html=>{:multipart =>true}  do |f| %>	
	  <%= render :partial => "form", :locals => {:f =>f}%>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
		<hr />
		<h2>Images</h2>
    <%=  f.render_associated_form(@egallery.uploads, :new =>3) 
		%>

 
		<% end %>
	
	</div>
</div>

<% content_for(:script) do %>

<%= render :partial => "shared/tinymce" %>
<% end %>
