<div id="left-column" class="<%= @page.name %>">
<%= render :partial =>"shared/front/left/#{@page.name}" %>

</div> 
<div id="main">

<%= render :partial =>"shared/front/center/#{@page.name}" %>

</div> 
<div id="right-column" class="<%= @page.name %>">

 <%= render :partial =>"shared/front/right/#{@page.name}" %>

</div>

