<div id="left-column" class="<%= @page.name %>">
<% if @page.name == "home" || @page.name == "whatson"  ||  @page.name == "magazine" ||  @page.name == "food" ||  @page.name == "community"  ||  @page.name == "about" ||  @page.name == "classified" %>
<%= render :partial =>"shared/front/left/#{@page.name}" %>
<% end %>
</div> 
<div id="main">
<% if @page.name == "home" ||  @page.name == "whatson" ||  @page.name == "magazine" ||  @page.name == "food" ||  @page.name == "community" ||  @page.name == "classified"  %>
<%= render :partial =>"shared/front/center/#{@page.name}" %>
<% end %>
</div> 
<div id="right-column" class="<%= @page.name %>">
<% if @page.name == "home"  ||  @page.name == "whatson"  ||  @page.name == "magazine"  ||  @page.name == "food" ||  @page.name == "community"  ||  @page.name == "about" ||  @page.name == "classified"  %>
 <%= render :partial =>"shared/front/right/#{@page.name}" %>
<% end %>
</div>


