<p>
	<%= f.collection_select :parent_id, Post.find_main, :id, :title, :include_blank => true %>
</p>
<p>
	  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</p>

<p>
	  <%= f.label :two_liner %><br/>
  <%= f.text_area :two_liner %>
</p>
<p>
	  <%= f.label :description %><br/>
  <%= f.text_area :description %>
</p>
<p>
	  <%= f.label :publication_name %><br/>
  <%= f.collection_select :publication_name, Issue.find(:all, :order => "created_at desc"), :id, :publication_name, :include_blank => false %>
</p>
<p>
	  <%= f.label :page_number %><br/>
  <%= f.text_field :page_number %>
</p>



<p>
	  <%= f.label :photo %><br/>
  <%= f.file_field :photo %>
</p>


