<html>
<head></head>
<body>

<h1>Contact Information received</h1>
<p><%= @contact.name %></p>
<p><%= @contact.email %></p>
<p><%= @contact.telephone %></p>
<p><%= @contact.type %></p>
<p><%= @contact.job %></p>
<p><%= @contact.disponibility %></p>	
<p><%= @contact.comment %></p>
</body>
</html>