<p>
	<%= f.collection_select :parent_id, Classified.find_main, :id, :title, :include_blank => true%>
</p>
<p>
	  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</p>

<p>
	  <%= f.label :two_liner %><br/>
  <%= f.text_area :two_liner %>
</p>
<p>
	  <%= f.label :description %><br/>
  <%= f.text_area :description %>
</p>
