<div class="header">
     <h4>Classifieds & Ads</h4>
</div>
<div id="travellers">
	<div id="center_travellers_logo"></div>
	<%= @page.body %>
</div> 

<div class="header">
  <h4>newest ads</h4>
</div>
<div id="articles" class="magazine">
	<ol id="classifieds">
			<%= render :partial => "shared/front/center/classifieds/classified", :collection => @classifieds %>
	</ol>
</div> 

<div class="header">
  <h4>services</h4>
</div>     
<div class="services">
	<%= render :partial => "shared/center_services_swf" %>	
</div>   
<div class="services services_right">
	<%= render :partial => "shared/center_services_swf" %>		
</div> 
<div id="small_header">
  <h4>granada news</h4></div>
<div id="news">
	<ol>
		<%= render :partial => "shared/front/center/news/news", :collection => @news %>
	</ol>
</div>  
<% content_for :script do %>

<% end %>