
<div class="header">
     <h4>Welcome to Granada Insider</h4>
</div>
<div id="travellers">
	<div id="center_travellers_logo"></div>
	<%= @page.body %>

</div> 
<div class="header">
  <h4>latest articles</h4>
</div>
<div id="articles">
	<ol>
		<%= render :partial => "shared/front/center/articles/article", :collection => @articles %>
	</ol>
</div> 
<%= render :partial => "shared/front/center/service_ads"%>
<div id="small_header">
  <h4>granada news</h4></div>
<div id="news">
	<%= render :partial => "shared/front/center/news" %>
</div>  
<div class="header">
  <h4>latest classified ads</h4>
</div>    
<div id="classified">

	<ol>
		<%= render :partial => "shared/front/center/classifieds/classified", :collection => @classifieds %>
	</ol>

</div>   

