
<div id="events_gallery">
<%= render :partial => "shared/center_event_gallery_swf" %>
</div>  

<div id="events_list">
  <div class="header">
    <h1>granada night life</h1>
  </div>
  <div class="subheader">
    <h4>Upcoming Events</h4>
  </div>
	<ul>
		<% if params[:filter_e] || params[:filter_l] %>
			<% if params[:filter_e] %>
				<%= render :partial => "shared/front/center/events/event", :collection => @events %>
			<% else %>
				<%= render :partial => "shared/front/center/events/location", :collection => @locations %>		
			<% end %>
		<% else %>
			<%= render :partial => "shared/front/center/events/event", :collection => @events %>
		<% end %>
	</ul>

</div>  
<div id="events_footer">
  <h4>	<%= will_paginate @events %></h4>
</div>
