<li>
	<h4><%= event.start_at.strftime("%a %d %B %Y")%></h4>
<hr />
<div class="left">
	<% if event.location %>
	<%=  image_tag event.location.photo.url(:thumb) %>
	<% end %>
	<div class="left_short">
		<%= image_tag "system/bg/center_social.png" %>	
	</div>
</div>
<div class="center">
	<h4><%= link_to event.title,event_show_path(event.id, event.start_at.day,event.start_at.month,event.start_at.year, event.title.gsub(/ /, "_")) %></h4>
	<%= event.description %>
	<p><b>Gallery</b> | <%= event.location.title if event.location %> <b>Events</b> | 11 <b>Comments</b></p>
</div>
</li>
