<li class="textinput"><%= f.text_field :name, :title => "Name" %></li>
<li class="textinput"><%= f.text_field :email, :title => "Email" %></li>
<li class="textinput"><%= f.text_field :company,:title => "Company" %></li>
<li class="textinput"><%= f.text_field :telephone,:title => "Telephone" %></li>
<li class="textarea"><%= f.text_area :comment,:title => "Comment" %></li>
<%= f.hidden_field :type, :value => "advertise" %>