<li class="textinput"><%= f.text_field :name %></li>
<li class="textinput"><%= f.text_field :email %></li>
<li class="textinput"><%= f.text_field :company %></li>
<li class="textinput"><%= f.text_field :telephone %></li>
<li class="textarea"><%= f.text_area :comment %></li>
<%= f.hidden_field :type, :value => "advertise" %>