<tr>
	<td ><%= user.login %></td>
	<td style="width:15px"></td>
	<td ><%= user.roles.first.name %></td>
	<td style="width:15px"></td>
	<td class="title"><%= user.email %></td>
	<td style="width:15px"></td>
	<td class="title"><% if user.activated_at %>true<%else%>false<% end %></td>
	<td style="width:15px"></td>

	<td>
		<table class="nolines">
			<tr>
				<td><%= link_to image_tag ('system/admin/buttons/search.jpg', :height => "15px", :title => "show"), admin_user_path(user) %></td><td>&nbsp;|&nbsp;</td>
				<td><%= link_to image_tag ('system/admin/buttons/edit.jpg', :height => "15px", :title => "edit"), edit_admin_user_path(user) %></td><td>&nbsp;|&nbsp;</td>
				<td><%= link_to image_tag ('system/admin/buttons/delete.jpg', :height => "15px", :title => "delete"), admin_user_path(user), :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
		</table>	
	</td>
</tr>
