<div id="holder">
	<div class="column">
		<h5>Granada Magazine Latest Issue</h5>
		<ul>
			<li><%= link_to "Latest Articles",  view_page_path("magazine") %></li>
		</ul>
	</div>
	<div class="column">
		<h5>Granada City Guide Areas</h5>
		<ul>
			<li><%= link_to "Events",  view_page_path("whatson") %></li>
			<li>Areas</li>
			<li>Tourist attractions</li>
		</ul>
	</div>
	<div class="column">
		<h5>Granada Food Guide</h5>
		<ul>
			<li>Tapas bars</li>
			<li>Restaurants</li>
			<li>Specialities</li>
		</ul>	
	</div>
	<div class="column">
		<h5>Granada NightLife</h5>
		<ul>
			<li>	</li>
			<li><%= link_to "Clubs",  whatson_filter_path("venues","clubs") %></li>
			<li><%= link_to "Live Music",  whatson_filter_path("venues","live-venues") %></li>
			<li><%= link_to "Theatre",  whatson_filter_path("venues","theatre") %></li>
		</ul>
	</div>
	<div class="column">
		<h5>Granada Classifieds</h5>
		<ul>
			<li>Services</li>
			<li>Accomadation</li>
			<li>For Sale</li>
			<li>For Free</li>
		</ul>
	</div>
	
<div>