<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Granada Insider</title>
		<script src="http://www.google.com/jsapi" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8">
	 	 // google.load("swfobject", "2.2");
	 		google.load("jquery", "1.3.2");
			google.load("jqueryui", "1.7.2");
		</script>
		<%= stylesheet_link_merged :base %>
		<!--[if IE]>
		    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
	  <%= javascript_include_merged :base %>
  	<script type="text/javascript" src="/fonts/Quicksand_Book_400-Quicksand_Bold_700.font.js"></script>
	  <script type="text/javascript" src="/fonts/Rockwell_Std_400-Rockwell_Std_700-Rockwell_Std_italic_400-Rockwell_Std_italic_700.font.js"></script>
	  <script type="text/javascript" src="/fonts/Helvetica_Neue_LT_Std_300-Helvetica_Neue_LT_Std_700-Helvetica_Neue_LT_Std_italic_400-Helvetica_Neue_LT_Std_italic_700.font.js"></script>

		<%= javascript_include_tag "nice_fonts","magicline" %>
	<style type="text/css">

	  .clearfix:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	  }

	</style>

	<!--[if IE]>
	<style type="text/css">
	  .clearfix {
	    zoom: 1;     /* triggers hasLayout */
	    } 
	</style>
	<![endif]-->
	
	
  </head>
  <body>
   <div id="wrapper" class="<%= @page.name %>">
      <div id="header" class="<%= @page.name %>">
        <div id="logo">
         
        </div> 
       
				<div id="navbar">
        	<%= render :partial =>"shared/menu/front" %>
        </div>               
			<% if @page.name == "whatson" %>
				<%= render :partial =>"shared/menu/whatson_submenu" %>		        	
			<% end %>	
      </div>  
		
		<%= yield %>

    </div>
     <div id="footer">
     	<%= render :partial => "shared/front/footer"%>
     </div> 
		<%= yield :script %>
     <script>
       jQuery(document).ready(function() {
        $(document).nice_fonts();
       }); 
			preload_sprites();
     </script>
 </body>
</html>



